.scroll {
    display: flex;
    position: fixed;
    top: 327px;
    right: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear 0s;
}

@media screen and (max-width: 1500px) {
    .scroll  {
        right: calc(100vw - 96vw);
    }
}
