.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 32px;
    font-family: Chronicle Display;
}

.header__logo:hover {
    cursor: pointer;
    opacity: .6;
}
