.header__account {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.header__account:hover {
    cursor: pointer;
    opacity: .6;
}
