.card__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
    color: #FFFFFF;
    margin-bottom: 27px;
}

@media screen and (max-width: 1500px) {
    .card__text  {
        font-size: 15px;
    }
}
