.intro__text {
    margin: 0;
    margin-top: 32px;
    font-family: Chronicle Display;
    font-size: 88px;
    line-height: 1.1;
    color: #fff;
    text-align: left;
    margin-bottom: 32px;
}

@media screen and (max-width: 1500px) {
    .intro__text  {
        font-size: 68px;
        max-width: 700px;
    }
}

@media screen and (max-width: 950px) {
    .intro__text  {
        font-size: 55px;
        max-width: 550px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}