.social__follow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
    display: block;
    font-size: 16px;
    text-align: end;
    width: 67px;
}

.social__follow:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 760px) {
    .social__follow {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

