.root {
    margin: 0;
    font-family: Gilroy;
    position: relative;
    background: 
    url(../../images/content-gardient.png) 0 calc(100vw - 32vw) no-repeat,
    url(../../images/hill.png) 0 calc(100vw - 55vw) no-repeat,
    url(../../images/mountains.png) 0 calc(100vw - 70vw) no-repeat,
    url(../../images/gardient.png) no-repeat,
    url(../../images/sky.png) no-repeat;
    background-color: #0B1D26;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}