.intro__scroll-text {
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    margin-right: 16px;
}

@media screen and (max-width: 950px) {
    .intro__scroll-text  {
        font-size: 16px;
        font-weight: 600;
    }
}
