@font-face {
    src: url(../fonts/chronicledisplayroman.otf);
    font-family: 'Chronicle Display';
    font-weight: normal;
}

@font-face {
    src: url(../fonts/chronicledisplayblack.otf);
    font-family: 'Chronicle Display';
    font-weight: 900;
}

@font-face {
    src: url(../fonts/chronicledisplaylightitalic.otf);
    font-family: 'Chronicle Display';
    font-weight: 100;
}

@font-face {
    src: url(../fonts/gilroy-regular.ttf);
    font-family: 'Gilroy';
    font-weight: normal;
}

@font-face {
    src: url(../fonts/gilroy-bold.ttf);
    font-family: 'Gilroy';
    font-weight: bold;
}

@font-face {
    src: url(../fonts/gilroy-medium.ttf);
    font-family: 'Gilroy';
    font-weight: 600;
}

.root {
    width: 100%;
    margin: 0;
    font-family: Gilroy;
    position: relative;
    background: 
    url(../images/content-gardient.png) 0 calc(100vw - 32vw) no-repeat,
    url(../images/hill.png) 0 calc(100vw - 55vw) no-repeat,
    url(../images/mountains.png) 0 calc(100vw - 70vw) no-repeat,
    url(../images/gardient.png) no-repeat,
    url(../images/sky.png) no-repeat;
    background-color: #0B1D26;
    background-size: contain;

}

.header {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navigation {
    width: 91vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__account {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.header__link {
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.header__links {
    display: grid;
    gap: 0 40px;
    grid-template-columns: repeat(3, auto);
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 32px;
    font-family: Chronicle Display;
}

.header__icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.intro {
    margin-top: 200px;
    max-width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.intro__line {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    margin-right: 32px;
}

.intro__title {
    margin: 0;
    color: #FBD784;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.intro__text {
    margin: 0;
    margin-top: 32px;
    font-family: Chronicle Display;
    font-size: 88px;
    line-height: 1.1;
    color: #fff;
    text-align: left;
    margin-bottom: 32px;
}

.intro__scroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.intro__scroll:hover {
    cursor: pointer;
    opacity: .6;
}

.intro__scroll-text {
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    margin-right: 16px;
}

.social {
    position: fixed;
    top: 360px;
    left: 80px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 67px));
    gap: 28px 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.social__follow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
    display: block;
    text-align: end;
    width: 67px;
}

.social__follow:hover {
    cursor: pointer;
    opacity: .6;
}

.social__link {
    display: flex;
    justify-content: center;
}

.social__link:hover {
    cursor: pointer;
    opacity: .6;
}

.social__image {
    align-self: center;
    justify-self: center;
}

.scroll {
    display: flex;
    position: fixed;
    top: 327px;
    right: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scroll__menu {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 40px 0;
    justify-items: end;
    margin-right: 32px;
}

.scroll__lines {
    position: relative;
}

.scroll__track {
    width: 3px;
    height: 240px;
    background-color: #fff;
    opacity: 0.5;
    z-index: 1;
}

.scroll__position {
    width: 3px;
    height: 60px;
    background-color: #fff;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2;
    transition: transform 0.2s linear 0s;
}

.scroll__link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}

.scroll__link:hover {
    cursor: pointer;
    opacity: .6;
}

.cards-area {
    width: 76%;
    display: flex;
    flex-direction: column;
    margin-top: calc(100vw - 50vw);
}

.card {
    display: flex;
    flex-direction: row;

    margin-bottom: 200px;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 114px;
    position: relative;
}

.card__info_reflected {
    margin-right: 0;
    margin-left: 264px;
}

.card__title-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 27px;
    position: relative;
}

.card__number {
    margin: 0;
    font-weight: bold;
    font-size: 240px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    top: -100px;
    left: -150px;
}

.card__line {
    width: 72px;
    height: 2px;
    background: #FBD784;
}

.card__title {
    margin: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    align-self: center;
    margin-left: 24px;
}

.card__subtitle {
    margin: 0;
    font-family: Chronicle Display;
    font-size: 64px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.card__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.card__link {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    color: #FBD784;
    text-decoration: none;
}

.card__link:hover {
    cursor: pointer;
    opacity: .6;
}

.card__image {
    max-width: 566px;
    max-height: 720px;
    object-fit: cover;
}

