.social {
    position: fixed;
    top: 360px;
    left: 80px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 67px));
    gap: 28px 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: transform 0.3s linear 0s;
}
